<div class="col-12">
  <div class="card">
    <div class="flex justify-content-between align-items-center mb-5">
      <h5>Edit Data</h5>
    </div>

    <!-- <div class="d-flex">
      <div class="form">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Id</label>
            <input
              type="number"
              formControlName="id"
              class="form-control"
              id="id"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Nama</label>
            <input
              type="text"
              formControlName="nama"
              class="form-control"
              id="nama"
              aria-describedby="emailHelp"
              placeholder="Enter nama"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Kota</label>
            <input
              type="text"
              formControlName="kota"
              class="form-control"
              id="kota"
              aria-describedby="emailHelp"
              placeholder="Enter kota"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">
            Submit
          </button>
        </form>
      </div>
    </div> -->
  </div>
</div>
